.imgGrid{

    display: flex;
    justify-content: center;
    align-items: center;
   height: 10rem;
   

    img{
        width: 6rem;
        height: 6rem;
        flex-grow: 1;
        object-fit: cover;
        opacity: .6;
        transition: .5s ease;
    }

    img:hover{
        width: 8rem;
        height: 8rem;
        opacity: 1;
        filter: contrast(120%);
       
        
    }

}


.galeryTitle{
    text-align: center;
    color: white;
    font-family: 'Gruppo', cursive; 
}
