.imgGrid{

    display: flex;
    justify-content: center;
    align-items: center;
   height: 10rem;
   margin-top: 5rem;
   margin-bottom: 5rem;
  
   

    img{
        width: 6rem;
        height: 15rem;
        flex-grow: 1;
        object-fit: cover;
        opacity: .6;
        transition: .5s ease; 
        cursor:pointer;
    }

    img:hover{
        width: 8rem;
        height: 16rem;
        opacity: 1;
        filter: contrast(120%);
       
        
    }

}


.galeryTitle{
    text-align: center;
    color: white;
    font-family: 'Gruppo', cursive; 
}

@media screen and (max-width: 768px){
    .imgGrid{
        margin-top: 2rem;
        margin-bottom: 2rem;
        img{
            width: 2rem;
            height: 8rem;
        }

        img:hover{
            width: 4rem;
            height: 10rem;
         
           
            
        }
    }
    
   
}