.imgCal{
    max-width: 100%;
    position: absolute;
    opacity: .8;
  
}

@media screen and (max-width: 768px){
    .imgCal{
        margin: auto;
        top: 0;
        opacity: .6;
        
    }
}

@media screen and (max-width: 479px){
    .imgCal{
        margin: auto;
        top: 6rem;
        opacity: .6;
    }
}

.flexCardCal{
    display: flex;
    position: relative;
    align-items: end;
    flex-direction:column;
    margin-right: 5rem;
    margin-bottom: 20rem;
    text-shadow: 1px 1px 1px black;
    h1{
        margin-top: 5rem;
        font-family: 'Gruppo', cursive; 
        font-size: 6rem;
        
    }
    h2{
        font-family: 'Gruppo', cursive;
        margin-right: 5rem;
    }
    p{
        font-family: 'Gruppo', cursive;
        margin-right: 5rem;
    }
}

@media screen and (max-width: 768px){
   
    .flexCardCal{
        margin-top: 3rem;
        margin-bottom: 6rem;
        margin-right: 2rem;
        
        h1{
            font-family: 'Gruppo', cursive; 
            font-size: 3rem;
            margin-right: 5rem;
        }
    }
}

@media screen and (max-width: 479px){
   
    .flexCardCal{
        margin-right: 0;
        margin-bottom: 5rem;
        margin-top: 2rem;
        
        h1{
            font-size: 2.5rem;
            margin: auto;
            margin-top:0.5rem ;
            
        }

        h2{
            margin-top: 2rem;
            margin-right: 3rem;
        }
        p{
            margin-right: 3rem;
        }
    }
}

.flexLogoCardCal{
    display: flex;
    justify-content: end;
    .logo{
        margin-right: 5rem;
        width: 4rem;
        position: absolute;
        margin-top: -23.5rem;
    }
}

@media screen and (max-width: 768px){
    .flexLogoCardCal{
        
        .logo{
            display: none;
         }
    }
}

.titleCal{
    font-family: 'Gruppo', cursive; 
    margin-left: 2rem;
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
}

.pCal{
    margin-bottom: 5rem;
    position: relative;
    margin-left: 2rem;
    margin-bottom: 26rem;
    p{
        font-family: 'Gruppo', cursive; 
        font-size: 1.2rem;
    }
    h3{
        font-family: 'Gruppo', cursive; 
        margin-top: 1rem;
        font-size: 2rem;
        color:rgb(223, 22, 22);
        text-shadow: 1px 1px 1px black;
    }
}

@media screen and (max-width: 768px){

    .pCal{
        margin-bottom: 10rem;
        margin-left: 2rem;

        h3{
           font-size: 1.2rem;
        }
        p{
           
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 479px){

    .pCal{
        margin-bottom: 2rem;
        margin-left: 0;
        h3{
            text-align: center;
        }
        p{
            text-align: center;
            font-size: 1rem;
        }
    }
}

.calFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    transition: .8s;
    background-color: rgb(223, 22, 22);
    .hash{
        color:rgb(0, 0, 0);
        margin-right: 10rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: 'Gruppo', cursive; 
        font-size: 3rem;
        font-weight: bolder;

        }
    }


@media screen and (max-width: 768px){
    .calFlex{
        flex-direction: column;
        justify-content: center;

        .hash{
            margin: 0;
        }
    }
    .titleCal{
            font-size: 2rem;
            margin-left: 0;
        }
}

@media screen and (max-width: 479px){
    .calFlex{
        flex-direction: column;
        justify-content: center;

        .hash{
            margin: 0;
        }
    }
}

.logoFondoCal{
    position: absolute;
        width: 50rem;
        width: 100%;
        opacity: .6;
}

@media screen and (max-width: 479px){
   
    .logoFondoCal{
        display: none;
    }
   
}
