.nav__img{
    width: 1.5rem;
    position: absolute;
    position: fixed;
    left: 1.5rem;
    top:3.5rem;
    z-index: 3;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.nav__imput{
    display: none;
}

.nav__label{
    
    display: none;
}

@media screen and (max-width: 768px){
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .navFlex{
        position: fixed;
        text-align: center;
        top:3.5rem;
        clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
        transition: clip-path .5s;
        background-color: transparentize($color: #ffffff, $amount: .8);
        width: 100%;
       
        li{
            text-align: center;
            
        }
    }

    .nav__imput:checked + .navFlex{
        clip-path:polygon(100% 0, 0 0, 0 98%, 100% 98%);
    }
}