.imgTri{
    max-width: 100%;
    position: absolute;
    opacity: .8;

}
@media screen and (max-width: 992px){
    .imgTri{
        margin: auto;
        top: 16rem;
        opacity: .8;
    }
}
@media screen and (max-width: 768px){
    .imgTri{
        margin: auto;
        top: 8rem;
        opacity: .8;
    }
}

.flexCardTri{
    display: flex;
    position: relative;
    align-items: end;
    flex-direction: column;
    margin-right: 5rem;
    margin-bottom: 26rem;
    text-shadow: 1px 1px 1px black;

    h1{
        margin-top: 5rem;
        font-family: 'Gruppo', cursive; 
        font-size: 6rem;
    }
    h2{
        font-family: 'Gruppo', cursive;
        margin-right: 5rem;
    }
    p{
        font-family: 'Gruppo', cursive;
        margin-right: 5rem;
    }
}

@media screen and (max-width: 992px){
    .flexCardTri{
    margin-right: 0;
    margin-bottom: 30rem;
    align-items: center;
    top:1rem;
    h1{
        text-align: center;
        font-size: 4rem;
    }
    h2 {
        margin-right: 0;
    }
    p{
        margin-right: 0;
    }
}
}

@media screen and (max-width: 768px){
    .flexCardTri{
        margin-right: 0;
        margin-bottom: 23rem;
        
        h1{
            font-size: 3rem;
            margin: auto;
        }
        h2, p, img  {
            display: none;
        }
    }
}
.flexLogoCard{
    display: flex;
    justify-content: end;
    .logo{
        margin-right: 5rem;
        width: 4rem;
        position: absolute;
        top:0;
    }
}

.titleTri{
    font-family: 'Gruppo', cursive; 
    margin-left: 2rem;
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
}

.triFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    transition: .8s;

    .hash{
        color:rgb(0, 0, 0);
        margin-right: 10rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: 'Gruppo', cursive; 
        font-size: 3rem;
        font-weight: bolder;

        }
    
}
.triFlex:hover{
    background-color: red;
}

.pTri{
    position: relative;
    margin-bottom: 5rem;
    margin-right: 2rem;
    text-align: right;
    p{
        font-family: 'Gruppo', cursive; 
        font-size: 1.2rem;
        text-shadow: 1px 1px 1px black;
    }

    h3{
        font-family: 'Gruppo', cursive; 
        margin-top: 1rem;
        font-size: 2rem;
        color: red;
        text-shadow: 1px 1px 1px black;
    }

}


.logoFondo2{
    position: absolute;
    width: 100%;
    opacity: .4;
    margin-top: 61rem;
}

.logoFondo3{
    position: absolute;
    width: 100%;
    opacity: .4;
    margin-top: 80rem;
}

//MEDIAQ PARA CELULAR VERTICAL
@media screen and (max-width: 768px){

  

    .titleTri{
        margin: 0;
    }

    .triFlex{
        flex-direction: column;
        justify-content: center;

        .hash{
            margin: 0;
        }
    }

    .titleTri{
        font-size: 1.5rem;
    }

    .pTri{
        text-align: center;
        margin-right: 0;
        margin-bottom: 2rem;
        p{
            font-size: 1rem;
        }
    }
    .logoFondo{
        display: none;
    }
    .logoFondo2{
        display: none;
    }
    .logoFondo3{
        display: none;
    }
  

}


