.flags{
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    top:6rem;
    
    position: absolute;
    left: 0;
    right: 0;
    padding-right: 1rem;
   
    

    img{
        width: 2rem;
        height: 1.5rem;
        filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
        z-index: 1;
        transition: .5s;
    }

    img:hover{
        filter: drop-shadow(2px 2px 2px rgb(255, 255, 255));
        width: 2.5rem;
        height: 2rem;
        border-radius: 1rem;
    }
    
}


@media screen and (max-width: 992px){
    .flags{
        top:3rem;
    }
}

@media screen and (max-width: 768px){
    .flags{
        top:6rem;
    }
}