.flags{
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    top:6rem;
    
    position: absolute;
    left: 0;
    right: 0;
   padding-right: 1rem;
   
    

    img{
        width: 2rem;
        filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
        z-index: 1;
    }
    
}