.imgMtb{
    max-width: 100%;
    position: absolute;
    opacity: .8;

}

.flexCardMtb{
    display: flex;
    position: relative;
    align-items: end;
    flex-direction: column;
    margin-right: 5rem;
    margin-bottom: 26rem;
    text-shadow: 1px 1px 1px black;
    h1{
        margin-top: 5rem;
        font-family: 'Gruppo', cursive; 
        font-size: 6rem;
    }

    h2{
        font-family: 'Gruppo', cursive;
        margin-right: 5rem;
    }

    p{
        font-family: 'Gruppo', cursive;
        margin-right: 5rem;
    }


}

.flexLogoCard{
    display: flex;
    justify-content: end;
    .logo{
        margin-top: 14rem;
        margin-right: 5rem;
        width: 4rem;
       position: absolute;
       
    }
}

.imgGridMtb{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    
    img{
        width: 6rem;
        height: 6rem;
        flex-grow: 1;
        object-fit: cover;
        opacity: .6;
        transition: .5s ease;
    }

    img:hover{
        width: 8rem;
        opacity: 1;
        filter: contrast(120%);
    }
}

.titleMtb{
    font-family: 'Gruppo', cursive; 
    margin-left: 2rem;
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
}

.mtbFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    transition: .8s;

    .hash{
        color:rgb(0, 0, 0);
        margin-right: 10rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: 'Gruppo', cursive; 
        font-size: 3rem;
        font-weight: bolder;

        }
    
}
.mtbFlex:hover{
    background-color: red;
}

.pMtb{
    position: relative;
    margin-bottom: 35rem;
    margin-right: 2rem;
    text-align: right;
    p{
        font-family: 'Gruppo', cursive; 
        font-size: 1.2rem;
        text-shadow: 1px 1px 1px black;
    }

    h3{
        font-family: 'Gruppo', cursive; 
        margin-top: 1rem;
        color: red;
        font-size: 2rem;
        text-shadow: 1px 1px 1px black;
    }
}

@media screen and (max-width: 768px){
    .imgMtb{
        margin: auto;
        top: 8rem;
        opacity: .6;
    }

    .flexCardMtb{
        margin-right: 0;
        margin-bottom: 23.5rem;
        
        h1{
            font-size: 3rem;
            margin: auto;
        }

        h2, p, img  {
            display: none;
        }
    }

    .mtbFlex{
        flex-direction: column;
        justify-content: center;

        .titleMtb{
            font-size: 1.8rem;
        }

        .hash{
            margin: 0;
        }
    }

    .pMtb{
        text-align: center;
        margin-right: 0;
        margin-bottom: 2rem;
        p{
            font-size: 1rem;
        }
    }
}