
.navFlex{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap:2rem;
    padding: 2rem;
   
    li{
        font-family: 'Gruppo', cursive; 
        font-size: 1rem;
        transition: 0.5s;
        font-weight: bolder;
        color: rgb(255, 255, 255);
       
    }
} 
li:hover {
   
    color: goldenrod;
    transform: rotateX(360deg);
}

@media screen and (max-width: 768px) {
    .navFlex{
        flex-direction: column;
        gap: 0.7rem;
      position: absolute;
      
      align-items:flex-end;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 6rem; 
      

    }
}

.active {
    background-color:red;
    border-radius: 10px;
    padding-left: .5rem;
    padding-right: .5rem;
}