.merakiTittle{
    text-align: center;
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
    margin-top: 2rem;
    color: rgb(223, 22, 22);
    transition: 3s;
}

.merakiTittle:hover{
    
    filter: drop-shadow(2px 2px 2px rgb(255, 255, 255));
}

.subt{
    text-align: center;
    font-size: 3rem;
    font-family: 'Gruppo', cursive; 
    
}