.sponsTittle{
    text-align: center;
    font-size: 5rem;
    font-family: 'Gruppo', cursive; 
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    transition: 0.8s;
}

.sponsTittle:hover{
    background-color: rgb(223, 22, 22);
}

.imgNat{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    justify-content: space-evenly;

     
}

.flexSponPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img{
        width: 10rem;
        filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
    }
}