.sponsTittle{
    text-align: center;
    font-size: 5rem;
    margin-top: 6rem;
    font-family: 'Gruppo', cursive; 
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transition: 0.8s;
}

@media screen and (max-width: 992px){
    .sponsTittle{
        margin-top: 3.5rem;
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px){
    .sponsTittle{
        font-size: 2.5rem;
        margin-top: 2.5rem;
        
       
    }
}
.sponsTittle:hover{
    background-color: rgb(223, 22, 22);
}

.imgNat{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.flexSponPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img{
        width: 10rem;
        filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
    }
}

.sponSecGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    img{
        width: 8rem;
        filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
    }
}

@media screen and (max-width: 768px){
  
    .imgMartin{
        width: 10rem;
        height: 18rem;
       
        position: absolute;
        margin-top: 1rem;
    }

    .imgNat{
        justify-content:none;
    }
    .flexSponPage{
        margin-top: 24rem;
        margin-bottom: 2rem;
        justify-items: space-evenly;
        img{
            width: 8rem;
        }
    }

    .sponSecGrid{
        img{
            width: 3.5rem;
        }
        
    }
}